.filled {
  background: var(--rosa-2b-dark) 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: var(--unnamed-font-size-24);
  padding: 0.75rem;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-1-08);
  color: var(--rosa-2b-lightest);
  text-transform: uppercase;
}

.filled:hover {
  background: var(--rosa-2b-darkest) 0% 0% no-repeat padding-box;
  transition: all 0.4s;
}

.filled:disabled {
  background: var(--azul-universe-lightest) 0% 0% no-repeat padding-box;
  color: var(--azul-universe-darkest);
  opacity: 0.36;
}

.empty {
  background: var(--rosa-2b-dark) 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: var(--unnamed-font-size-24);
  padding: 1rem;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-1-08);
  color: var(--rosa-2b-lightest);
  text-transform: uppercase;
}