@import '@/index.css';

.wrapperProduct {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3.125rem 9rem 3.125rem 2rem;
  
  @media screen and (max-width: 900px) {
    padding: 3.125rem 6rem 3.125rem 2rem;

  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: var(--padding-layout-small-device-carousel);
  }
}