@import '@/index.css';

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 2fr auto;
  align-items: center;
  justify-items: center;
  background: var(--azul-universe-darkest);
  padding: 1.25rem 6rem 1.5rem 6rem;

  @media screen and (max-width: 520px) {
    padding: 1rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.link {
  white-space: nowrap;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-1-08);
  color: var(--rosa-2b-medium);
  text-transform: var(--unnamed-text-transform-uppercase);
  cursor: pointer;
}

.link:hover {
  color: var(--rosa-2b-dark);
  transition: color 0.2s ease-in;
}

.link[data-active="true"] {
  color: var(--rosa-2b-dark);
}