@import '@/index.css';


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--padding-layout-large-device-carousel);

  @media screen and (max-width: 520px) {
    padding: var(--padding-layout-small-device-carousel);
  }
}

.wrapper > section {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperProducts {
  height: auto !important;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiperProducts img {
  /* display: block; */
  width: 100%;
  object-fit: contain;
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-29) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-universe-darkest);
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: flex;
  position: absolute;
  top: calc(50% - 12px);
  z-index: 10;
  cursor: pointer;
  border: 1px solid var(--neutral-medium);
  border-radius: 50%;
  padding: 0.5rem;
}

.button svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--azul-universe-darkest);
  transition: color 0.2s;
}

.new-swiper-button-prev {
  left: 0;
}

.new-swiper-button-next {
  right: 0;
}

.swiper-button-disabled svg {
  color: var(--neutral-medium);
}