@import '@/index.css';

.swiper {
  width: 100%;
  height: 100%;
}

.swiperNavigation {
  width: 100%;

}

.swiper-slide:has(.loading) {
  height: 200px;

  @media screen and (max-width: 520px) {
    height: 100px;
  }
}

.swiper-slide img {
  width: 100%;
  object-fit: contain;
}