@import '@/index.css';

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: var(--azul-universe-light);
}

.swiper-pagination-bullet-active {

  background: var(--rosa-2b-dark);
}