@import '@/index.css';


.footer {
  background: var(--azul-universe-lightest) 0% 0% no-repeat padding-box;
  padding: 3.125rem 4rem 3.125rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 520px) {
    text-align: center;
  }
}

.infos strong {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-0-6);
  color: var(--azul-universe-darkest);
  margin-bottom: 0.625rem;
}

.infos p {
  font-family: var(--unnamed-font-family-urbanist);
  font-size: var(--unnamed-font-size-12);
  letter-spacing: var(--unnamed-character-spacing-0-6);
  color: var(--azul-universe-darkest);
}

  
