@import '@/index.css';

.priceShipping {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-urbanist);
  letter-spacing: var(--unnamed-character-spacing-0-7);
  color: var(--azul-universe-darkest);
  border-bottom: 1px solid var(--azul-universe-light);
  padding: 0.5rem 0;
}

.formZip {
  display: flex;
  align-items: center;
  
}